/*This file contains all styles related to the TimerBar component*/

#timer-area{
position: relative;
margin-left: 4%;
z-index: 10;
width: 92%;
height: 35px;
color: #fff;
}

#timer-bar-area{
position: relative;
height: 12px;  
}


.timer-bar-outer{
padding: 0px 0px 0px 1%; 
width: 98%;  /*this should be same number as 98/windowduration*/
height: 3px;  
display: block;  
position: absolute; 

border-radius: 1px;  
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
background-color: #222327;
clear: both;
}


.timer-bar{  
display: block;  
width: 0%;  
height: 3px;  
border-radius: 1px;  
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
clear: both;
position: absolute; 
margin: 0px 0px 0px 0px;
box-shadow: 		none; 
-moz-box-shadow: 	none;  
-webkit-box-shadow: 	none;  
background-color: #fff; 
background:#04befb;
text-align: right;
}  

/*styling for small circle on timer bar*/
.timer-bar-circle{
position: absolute;
margin-top: -12px; 
margin-left: -3px;
text-align: right;
color:#04befb;
font-size: 12px;
}


/*styling for current time of audio in text*/
#time-of-audio{
position: relative;
overflow: hidden;
color: #fff;
}
.audio-current-time{
display: block;
width: 40%;
float: left;
font-size: 1.0rem;

}
.audio-duration{
display: block;
width: 40%;
float: right;
text-align: right;
font-size: 1.0rem;
}

